/* Logo */
#logo {
    max-width: 80px; 
    width: auto;
    height: auto;
}


/* Button styles */
.buttonRow button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #333; 
    color: #FFD700; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.buttonRow button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Navigation Bar */
.customNav {
    background-color: #333; 
}

.customNav .nav-link {
    color: white !important; 
}


/* Hero Section */
.customJumbo {
    padding: 3.5vh 0;
    background-color: #F0E68C;
}

.portfolio-link {
    color: blue; 
    text-decoration: underline; 
}

/* About Me Section */
.aboutme-section {
    padding: 1.5vh 0;
    background-color: #333; 
}

.aboutme-section h2,
.aboutme-section h5 {
    color: white;; 
    margin-bottom: 0;
}

.aboutme-section p {
    color: #F0E68C;; 
}

/* Contact Section */
.contact-section {
    padding: 1.5vh 0;
}

#contactbutton {
    background-color: #333; 
    border-color: #333; 
}

#contactbutton:hover {
    background-color: #F0E68C;; 
    border-color: #F0E68C;;
}
