#logo {
    max-width: 80px; /* Adjust the value as needed */
    width: auto;
    height: auto;
}


/* Button styles */
.buttonRow button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #333; /* Darker shade of black */
    color: #FFD700; /* Gold */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.buttonRow button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Navigation Bar */
.customNav {
    background-color: #333; /* Darker shade of black */
}

.customNav .nav-link {
    color: white !important; /* Set text color to white */
}


/* Hero Section */
.customJumbo {
    padding: 3.5vh 0;
    background-color: #F0E68C; /* Lighter shade of gold */
}

/* About Me Section */
.aboutme-section {
    padding: 1.5vh 0;
    background-color: #333; /* Darker shade of black */
}

.aboutme-section h2,
.aboutme-section h5 {
    color: white;; 
    margin-bottom: 0;
}

.aboutme-section p {
    color: #F0E68C;; /* Gold */
}

/* Contact Section */
.contact-section {
    padding: 1.5vh 0;
}

#contactbutton {
    background-color: #333; /* Darker shade of black */
    border-color: #333; /* Darker shade of black */
}

#contactbutton:hover {
    background-color: #F0E68C;; /* Gold */
    border-color: #F0E68C;; /* Gold */
}
